@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hoverUnderline {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  transition: all 0.3s;
}

.hoverUnderline:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  border-bottom: 2px solid white;
  transition: all 0.3s;
}

.hoverUnderline:hover::before {
  width: 100%;
}

.myHeadingsGray {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  font-weight: 700;
}
.myHeadingsGray:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #111827;
}

.myHeadingsSlate {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  font-weight: 700;
}
.myHeadingsSlate:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #f97316;
}

.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
}

.fade-left.show {
  transform: translateX(0px);
  opacity: 1;
}

.fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 2s;
}

.fade-right.show {
  transform: translateX(0px);
  opacity: 1;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-0 bg-slate-300 text-black 
    hover:rounded-xl transition-all duration-300 ease-linear
    rounded-3xl cursor-pointer;
  }

  .bg-transparent-icon {
    @apply relative flex items-center justify-center
    h-7 w-7 mx-0 bg-transparent;
  }

  .javascript-icon {
    @apply relative flex items-center justify-center
    h-7 w-7 mx-0 bg-black;
  }

  .javascript-icon2 {
    @apply relative flex items-center justify-center
    h-11 w-11 mx-0 bg-black;
  }

  .bg-transparent-icon2 {
    @apply relative flex items-center justify-center
    h-11 w-11 mx-0 bg-transparent;
  }

  .bg-white-icon {
    @apply relative flex items-center justify-center
    h-11 w-11 mx-0 bg-transparent bg-white;
  }
}
