@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myHeadingsBlue {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
}
.myHeadingsBlue:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #1d4ed8;
}

.myHeadingsSlate {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
}
.myHeadingsSlate:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #f1f5f9;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-10 w-10 mt-2 mb-2 mx-0 bg-slate-300 text-black 
    hover:rounded-xl transition-all duration-300 ease-linear
    rounded-3xl cursor-pointer;
  }

  .javascript-icon {
    @apply relative flex items-center justify-center
    h-7 w-7 mx-0 bg-black;
  }

  .css-icon {
    @apply relative flex items-center justify-center
    h-7 w-7 mx-0 bg-transparent;
  }
}
